# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 
*.test

# Output of the go coverage tool, specifically when run with -o
*.out

# IDE/Editor folders
.vscode/
.idea/
